body {
  background: #e7eaf6;
}

.container {
  background: #a2a8d3;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;

  border-radius: 8px;
}

h1 {
  font-size: 4rem;
  color: #113f67;
  font-family: "Poppins", sans-serif;
}
.message {
  font-size: 2rem;
}
.cards,
.sum {
  font-size: 1.6rem;
  padding: 15px;
  color: #113f67;
  font-family: "Poppins", sans-serif;
}
p {
  color: #113f67;
  font-family: "Poppins", sans-serif;
}

button {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  color: #113f67;
  background-color: #e7eaf6;
  font-family: "Poppins", sans-serif;
}

.newCardButton {
  margin-bottom: 5rem;
}

footer {
  padding: 1.2rem;
  font-family: "Poppins", sans-serif;

  color: #37598b;
}

.footerPara {
  padding-bottom: 7px;
}

a {
  text-decoration: none;
  color: #113f67;
}

a:hover {
  font-weight: 600;
}
.social-links a {
  margin: 20px;
  padding-top: 20px;
  font-size: 25px;
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .message {
    font-size: 1.5rem;
  }
}
